<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Cube2x2 の規則" Description="Cube2x2.csproj のコード分析の規則です。" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>